.about-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}


@media screen and (max-width: 599px) {
    .portrait {
        display: block;
        margin: 0 auto;
        max-width: 200px;
        /* or 250px, 300px for other breakpoints */
        height: auto;
    }
}

@media screen and (min-width: 600px) and (max-width: 1023px) {
    .portrait {
        display: block;
        margin: 0 auto;
        max-width: 250px;
        /* or 250px, 300px for other breakpoints */
        height: auto;
    }
}

@media screen and (min-width: 1024px) {
    .portrait {
        display: block;
        margin: 0 auto;
        max-width: 300px;
        /* or 250px, 300px for other breakpoints */
        height: auto;
    }
}